.textEditor__container {
    button{
        font-size: 14px;
        margin-left: 20px;
        border: 1px solid #333;
        color: #333;
    }
    #editor {
        padding: 16px 24px;
        border: 1px solid #d6d6d6;
        border-radius: 4px;
    }
}