.chungJungWonMainContain{
    width: 100vw;
    .inner{
        position: relative;
        margin: auto;
        width: 90vw;
        height: 300vh;
        .bars{
            position: absolute;
            top: 13%;
            width: 100%;
            // background-color: rgb(231, 231, 231);
            list-style: none;
            .bar{
                position: relative;
                z-index: 1;
                filter: brightness(80%);
                width: 100%;
                height: 200px;
                transition: 2s;
                background-size: 130%;
                background-attachment: fixed;
                background-position-y: 50%;
                background-position-x: 50%;
                background-repeat: no-repeat;
                // border-image-slice: 100%;
                margin-top: 30px;
                .itemText{
                    position: absolute;
                    z-index: 2;
                    color: #fff;
                    font-size: 40px;
                    font-weight: 600;
                    right: 0;

                }
            }
            .bar:nth-child(2n){
                transition: 2.5s;
            }
        }
    }
}