.section2{
    width: 100vw;
    height: 50vh;
    background-color: #000;
    border-top: 10px solid rgb(60, 60, 60);
    .inner{
        width: 1000px;
        display: flex;
        margin: auto;
        .text{
            width: 24vw;
            height: 100%;
            margin-top: 100px;
            .mainText{
                text-align: left;
                font-size: 50px;
                font-weight: 700;
            }
            .innerText{
                font-size: 30px;
                width: 40vw;
                text-align: left;
            }
        }
        .video{
            position: relative;
            width: 40vw;
            height: 40vh;
            z-index: 10;
            background-size: cover;
            .playVideo{
                position: absolute;
                z-index: 1;
                width: 100%;
            }
            .videoImage{
                position: absolute;
                z-index: 10;
                width: 40vw;
                height: 50vh;
            }
        }
    }
}
@media screen and (max-width: 800px){
    // .section2{
    //     .inner{
    //         display: block;
    //     }
    // }
}