.draggable__container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;   
    align-items: center;
    background-color: #1f1d2b;
    #draggable {
        position: absolute;
        width: 150px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffd791;
        border-radius: 5px;
        font-size: 24px;
        line-height: 1.5;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
        cursor: move;
        #drag__text {
            position: absolute;
            z-index: 10;
        }
    }
}