.button4_contain {
    width: 100vw;
    height: 30vh;
    color: #e5eef3;
    background-color: #fff;
    text-align: center;
    font-family: "Roboto";
    .share {
        position: absolute;
        width: 80px;
        left: 50%;
        top: 50%;
        box-sizing: border-box;
        background-color: #a19f9f;
        color: #e4bb3f;
        font-weight: 700;
        font-size: 18px;
        border-radius: 50%;
        transition: .5s;
        overflow: hidden;
        span{
            line-height: 80px;
            display: inline-block;
            font-weight: 700;
            text-transform: uppercase;
            position: absolute;
            // left: 50%;
            margin-left: 11px;
            opacity: 1;
            transition: opacity 0.3s ease-in-out;
            pointer-events: none;
        }
        .buttons {
            font-size: 0;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
            display: inline-flex;
            .button{
                opacity: 0;
                line-height: 80px;
                width: 80px;
                text-align: center;
                display: inline-block;
                background-color: #fff;
                color: #fff;
                // overflow: hidden;
                transition: all 0.3s ease-in-out;
                opacity: 1;
                margin: 0 -20px;
                box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.1);
            }
            .button:nth-child(1){
                border-top-left-radius: 40px;
                border-bottom-left-radius: 40px;
                margin-left: 0;
            }
            .button:nth-child(1):hover{
                background-color: #61c5ec;
            }
            .button:nth-child(2):hover{
                background-color: #3B5998;
            }
            .button:nth-child(3):hover{
                background-color: #ea4335;
            }
            .button:nth-child(4){
                border-top-right-radius: 40px;
                border-bottom-right-radius: 40px;
                margin-right: 0;
            }
            .button:nth-child(4):hover{
                background-color: #000000;
            }
        }
    }   
    .share:hover {
        background: #fff;
        overflow: visible;
        .buttons{ 
            opacity: 1;
            .button{
                border-radius: 50%;
                margin: 0 10px;
                color: #f1ce64;
                font-size: 28px;
                opacity: 1;
            }
        }
        span {
            opacity: 0;
        }
    }
}