.gsap_1, .gsap_2, .gsap_3{
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
    flex-direction: column;
    button{
        border: 3px solid #333;
        color: #333;
    }
    h1{
        color: #333;
    }
    .gsap1_box, .gsap2_box, .gsap3_box {
        width: 100px;
        height: 100px;
        border-radius: 20px;
    }
    // gsap_1
    .green{
        background-color: green;
    }
    .purple {
        background-color: purple;
    }
    .blue {
        background-color: blue;
    }
    // gsap_2
    .animation_box{
        background-color: #333;
    }
    .buttons{
        display: flex;
        gap: 30px;
    }
    // gsap_3
    .gsap3_box{
        background-color: yellow;
    }
}