.card14__contain{
    width: 100vw;
    height: 100vh;
    .card {
        position: relative;
        width: 300px;
        height: 300px;
        z-index: 1;
        display: grid;
        place-content: center;
        text-align: center;
        background: url('../../img/testShoseimg1.png') center no-repeat;
        background-size: cover;
        padding: 10px;
        border-radius: 20px;
        overflow: hidden;
    }
    .card::before,
    .card::after {
        content: "";
        position: absolute;
        left: 0;
        z-index: -1;
        width: 100%;
        height: calc(60% + 35px);
        background-color: #fff;
        transition: transform 0.5s .25s;
    }
    .card::before {
        top: 0;
        clip-path: polygon(0 0, 100% 0, 100% 45%, 0% 100%);
        transform: translateY(-100%);
    }
    .card::after {
        bottom: 0;
        clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);
        transform: translateY(100%);
    }
    .card__body {
        opacity: 0;
        transition: opacity 0.25s;
    }
    .card__title {
        all: unset;
        color: #6a515e;
        margin-bottom: 15px;
    }
    .card:hover::before,
    .card:hover::after {
        transform: translateY(0);
    }
    .card:hover .card__body {
        opacity: 1;
        transition-delay: 0.75s;
    }
}